.best {
  background-image: url("../img/backgrounds/bg-best.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.best__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  padding: 0;
  margin-bottom: rem(60px);
  color: #2f3234;
  font-size: 72px;
  font-weight: 400;
  line-height: 64.05px; }

.features__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.features__item {
  -ms-flex-preferred-size: 281px;
  flex-basis: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 20px; }

.features__pic {
  width: 100px;
  height: 100px;
  margin: 0 auto; }

.features__pic--meat {
  background: url("../img/we_are/meat.png") center center no-repeat; }

.features__pic--hand {
  background: url("../img/we_are/hand.png") center center no-repeat; }

.features__pic--natural {
  background: url("../img/we_are/natural.png") center center no-repeat; }

.feature__name {
  font-family: 'Lifehack';
  color: #2f3234;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.features__info {
  font-family: "Ubuntu";
  width: 281px;
  height: 62px;
  opacity: 0.8;
  color: #2f3234;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.02px;
  text-align: center; }
