.wrapper {
  width: 100%;
  height: 100%;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  height: 100%;
  background-color: rgba(0,0,0,0.31);
  min-height: 650px;
  min-width: 940px;
}

.order-link {
  min-width: rem(98px);
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e45028;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  &:hover {
    background: darken(#e45028, 7%);
  }

}

