body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visuallyhidden {

  position: absolute;

  height: 1px;
  width: 1px;
  margin: -1px;
  border: none;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

